
.service-hover {
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 100px;
    transition: 0.5s;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
}
.service-hover:hover {
    text-shadow: 0 0 30px rgba(230, 121, 230), 0 0 60px rgba(230, 121, 230), 0 0 110px rgba(230, 121, 230), 0 0 100px rgba(230, 121, 230);
}